* {

    text-align: center;
    
    }
body{
    margin: 0;
    padding: 0;
    text-align: center;
}
.nav-center{
    display: flex;
    
}
.nav-links > ul> li{
    list-style-type: none;
}
.nav-links > ul > li > a{
    text-decoration: none;
}

button {
    background: none;
    border-color: #87db41;
    color: #87db41;
    padding: 5px 5px;
    width: 30%;
    text-align: center;
    outline: none;
  }
  button:active {
    border-style: outset;
  }
